// style2.scss
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

$bg_color: #ffff00;
$bg_color01: #ff00ff;
$txt_color01: #ff0000;
$txt_color02: #0000ff;

@mixin h3txt{
  font-family: 'Noto Sans KR', '맑은 고딕', arial, sans-serif;
  font-size: 30px;
}
// 글자생략기호 나오게 하는 서식
@mixin txt_over{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.title01{
  @include h3txt;
  background: $bg_color;
  color: $txt_color01;
}
.title02{
  @include h3txt;
  background: $bg_color;
  color: $txt_color02;
}
.p01{
  @include txt_over;
  width: 500px;
  background: $bg_color;
  border: 1px solid #000;
}

// 버튼 굴자서식
@mixin btnFont{
  font-family: '궁서체';
  font-weight: bold;
  font-size: 20px;
}
// 버튼 모양서식
@mixin btnArea{
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
}
@mixin btn{
  @include btnFont;
  @include btnArea;
}
$time: .5s;
// 버튼에 마우스 오버시 적용할 믹스인함수
@mixin btn_over{
  background: #000;
  color: #fff;
  transition: $time;
}

.btn01{
  @include btn;
  background: $bg_color;
}
.btn02{
  @include btn;
  background: $bg_color01;
}
.btn01:hover, .btn02:hover{
  @include btn_over;
}

// 토글버튼 서식
#toggle{
  display: none;
}
.toggle_btn{
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 14px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  padding-top: 8px;
}
@mixin bar{
  display: inline-block;
  width: 35px;
  height: 5px;
  background: #f3953d;
  border-radius: 5px
}
.bar{
  @include bar;
  transition: $time;
}

#toggle:checked + label > .bar1{
  transform: rotate(45deg) translate(10px, 10px);
}
#toggle:checked + label > .bar2{opacity: 0;}
#toggle:checked + label > .bar3{transform: rotate(-45deg) translate(10px, -10px);}

// 4. mixin함수에 매개변수 삽입하기
@mixin divBox($bgcolor){
  @include btnFont;
  background: $bgcolor;
}
#box01{
  @include divBox(#0000ff);
}
#box02{
  @include divBox(#00ff00);
}

// 테이블 테두리 서식
@mixin border($w:1px,$s:solid,$c:#ff0){
  width: 400px;
  border: $w $s $c;
}
.border{
  @include border(5px, double);
}

// 테이블 배경과 크기 서식
@mixin table($t_bg: #f0f0f0){
  background: $t_bg;
  width: 500px;
}
@mixin caption($bg: #ffff00){
  background: $bg;
  padding: 10px 0;
  font-weight: bold;
}
table{
  border-collapse: collapse;
  @include table;
}
table caption{@include caption;}
table tr td{
  line-height: 210%;
  text-align: right;
  padding-right: 20px;
}
@mixin odd_tr($bg: #fddc7a){
  background: $bg;
}
table tbody tr:nth-child(2n+1){@include odd_tr;}