// 변수생성
$myFont: 'Noto Sans KR', '맑은 고딕', arial, sans-serif;
$color: #333;
$bgcolor: #ff0;
$bigFontSize: 30px;
$baseFontSize: 12px;
$boxWidth: 1280px;
$boxCenter: 0 auto;

body{
  font-family: $myFont;
  font-size: $baseFontSize;
  color: $color;
}
h1{
  font-size: $bigFontSize;
}
#wrap{
  width: $boxWidth;
  height: 300px;
  $bgcolor01: #ccc;
  background: $bgcolor01;
  margin: $boxCenter;
}